<head>
	<title>Lecci&oacute;n 1: Leyendo y procesando archivos CSV, JSON Y XML</title>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
	<script src="ready.js"></script>
</head>

<body>
	<h1>Leyendo un archivo CSV JSON XML</h1>
	<input type="file" id="file-selector" accept=".csv,.json,.xml">
	
</body>

